*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background: linear-gradient(to bottom, hsl(61, 100%, 50%), #ff0000);
    height: 100vh;
    margin: 0;
}

.search-bar{
    display: flex;
    width: 500px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    position: absolute;
    left: 2.5%;
    top: 55%;
}

@media (max-width: 1660px){
    .search-bar{
        position: static;
        transform: none;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #1a1a1a;
    }

}

.search-bar input{
    flex: 1;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button{
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #ff3c00;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover{
    background-color: #ffee00;
    box-shadow: 0 0 10px rgb(247, 100, 1);
}

.search-bar:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    background-color: #f9f9f9;
}

.header-descripcion{
    display:flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.caja-descripcion {
    padding: 2rem;
    border-radius: 15px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.contenedor-personajes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.tarjeta-saitama {
    background: linear-gradient(to bottom, hsl(61, 100%, 50%), #ff0000);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tarjeta-tatsumaki{
    background: linear-gradient(to bottom, hsl(120, 100%, 50%), #ffffff);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tarjeta-genos {
    background: linear-gradient(to bottom, hwb(0 0% 100%), #fffb00);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tarjeta-personaje img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}


.footer-personal {
    text-align: left; 
    margin-top: 4rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.caja-descripcion{
    background-color: gold;
}

.caja-descripcion:hover{
    background: linear-gradient(to bottom, hsl(61, 100%, 50%), #ff0000);
    transition: all 0.3s ease-in-out;
}

.tarjeta-saitama:hover{
    transform: translateY(-10px);
    background: linear-gradient(to bottom, hsl(61, 100%, 50%), #ffffff);
    transition: all 0.3s ease-in-out;
}
.tarjeta-tatsumaki:hover{
    transform: translateY(-10px);
    background: linear-gradient(to bottom, hsl(0, 0%, 100%), #2bff00);
    transition: all 0.3s ease-in-out;
}
.tarjeta-genos:hover{
    transform: translateY(-10px);
    background: linear-gradient(to bottom, hsl(0, 0%, 0%), #ffffff);
    transition: all 0.3s ease-in-out;
}

.footer-personal{
    text-align: center;
    margin-bottom: auto;
    padding-bottom: 20px; 
}


.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f4a261; 
}
